{
  "extends": "vue",
  "rules": {
    "no-cond-assign":0,
    "no-unmodified-loop-condition":0,
    "object-curly-spacing":0
  },
  "globals": {
    "_": true,
    "angular":true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
